@font-face {
    font-family: MachineSTD;
    src: url("assets/MachineStd-Bold.otf") format("opentype");
}
.center {
    margin: auto;
    width: 60%;
}
h2{
    font-family: "MachineSTD" !important;
    font-size: 60px !important;
}
#header{
    font-family: "MachineSTD" !important;
    font-size: 30px;
    color:white;
}
#loginBox{
    margin-top: 50px;
    border: 3px solid blue;
    padding: 10px;
}
.reg{
     border: 3px solid green !important;
}
#loginBox form{
    width:100%;
}
/*bootstrap overrwrite*/
.container {
    width: 100% !important; 
}
/*chat*/
#globalChatBody{
    font-family: monospace;
    height:70%;
    overflow-y: auto;
}
#localChatBody{
    font-family: monospace;
    height:55%;
    overflow-y: auto;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cbutton{
    float: right;
    margin-left: 5px;
}
.info{
    color:red;
}
/*game*/
.attack{
    cursor:pointer;
}
.attack:hover{
    stroke:#ddd;
}
.draggable {
  cursor: move;
}


